@model IEnumerable<Recruitment.Domain.Entities.Applicant>

@{
    ViewBag.Title = "Index";
}

<h2>Submitted Applications</h2>

<p>
    @Html.ActionLink("Back to Account", "Index", "Manage", null, htmlAttributes: new { @class = "btn btn-default", @style = " color: white; background-color: #120227;" })
</p>
<table class="table">
    <tr>
     
        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>Actions</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ApplicantId }, htmlAttributes: new { @class = "btn btn-default"}) |
            @Html.ActionLink("Details", "Details", new { id=item.ApplicantId }, htmlAttributes: new { @class = "btn btn-info" })
        </td>
    </tr>
}

</table>
