@model IEnumerable<Recruitment.Domain.Entities.Applicant>

@{
    Layout = "~/Views/Shared/AdminLayout.cshtml";
    ViewBag.Title = "Applications";
}

<h2 class="text-center text-capitalize" style="">Applications</h2>
<hr />
@if (Model.Where(m => m.ApplicationStatus == 1).Count() > 0)
{
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.JobTitle)
        </th>
        <th>
            Action
        </th>
    </tr>

    @foreach (var item in Model)
    {

    <tr>

        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.JobTitle)
        </td>
        <td>
            @Html.ActionLink("Details", "ApplicationDetails", "Admin", new { id = item.ApplicantId }, htmlAttributes: new { @class = "btn btn-outline-info" }) |
            @Html.ActionLink("Delete", "DeleteApplication", "Admin", new { id = item.ApplicantId }, htmlAttributes: new { @class = "btn btn-outline-info", @style = "color: white; background-color: #120227;" }) 

   
        </td>
    </tr>

    }

</table>
}
else
{
<p class="text-capitalize text-center text-warning" style="font-family: cursive; font-weight: 500; padding: 50px;">There are no new accepted Applications</p>
}
<div style="color:purple;">
    <hr />
</div>
<div>
    @Html.ActionLink("Back to Dashboard", "DashBoard", null, htmlAttributes: new { @class = "btn btn-outline-primary" })
</div>
