@model IEnumerable<Recruitment.Domain.Entities.Job>

@{
    ViewBag.Title = "Jobs"; 
    Layout = "~/Views/Shared/AdminLayout.cshtml";

}

<h2>Jobs</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>

        <th>Action</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Company)
            </td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.JobId }, htmlAttributes: new { @class = "btn btn-outline-warning" }) |
                @Html.ActionLink("Details", "Details", new { id = item.JobId }, htmlAttributes: new { @class = "btn btn-outline-info" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.JobId }, htmlAttributes: new { @class = "btn btn-outline-danger" })
            </td>
        </tr>
    }

</table>


<div>
    @Html.ActionLink("Back to Dashboard", "DashBoard", null, htmlAttributes: new { @class = "btn btn-outline-primary" })   
    @Html.ActionLink("Add New Job", "Create", null, htmlAttributes: new { @class = "btn btn-outline-success" })

</div>
