@model Recruitment.Web.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

    <div style="padding:50px; background-color: white; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175); border: 2px dotted pink; margin-top: 20px; border-radius: 10px; display: flex; flex-direction: column; justify-content: space-between;">
        <span class="text-center text-success" style="font-family:cursive; padding: 10px; font-size:larger;"><b>@TempData["message"] </b></span><br />
        <span class="text-success" style="padding: 10px;">@ViewBag.StatusMessage</span>

        <h2>@ViewBag.Title.ToUpper() ACCOUNT</h2>
        <div>

            <hr />
            <div class="well" style="display: grid; grid-template-columns:1fr 1fr; grid-gap:20px;">
                <div style="padding:50px; background-color: white; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175); border: 2px dotted pink; margin-top: 20px; border-radius: 10px; display: flex; flex-direction: column; justify-content: space-between;">
                    <p class="text-center" style="font-size:large;"><strong>Submitted Applications</strong>   </p>
                    @Html.ActionLink("View", "Index", "Applicants", null, htmlAttributes: new { @class = "btn btn-default", @style = "color:white; background-color:#120227;" })
                </div>
                <div style="padding:50px; background-color: white; box-shadow: 0 4px 12px rgba(0, 0, 0, 0.175); border: 2px dotted pink; margin-top: 20px; border-radius: 10px; display: flex; flex-direction: column; justify-content: space-between;">
                    <p class="text-center" style="font-size:large;"><strong>Password Settings</strong>   </p>

                    @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword", null, htmlAttributes: new { @class = "btn btn-default", @style = "color:white; background-color:#120227;" })
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }

                </div>
                
                   

            </div>

        </div>
        </div>